<body>

    <head>
        <title>API REST</title>
    </head>

    <body>
        <h1>This is my API REST</h1>
        <br>
        <ol>
            <li>Get all users</li>
            <li>Get an user</li>
            <li>Add an user</li>
            <li>Update an user</li>
            <li>Delete an user</li>
        </ol>
    </body>
</body>